#footer{
    background-color: #544349;
    text-align: center; 
    margin-bottom: 0px;
   list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

#foot{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.afoot{
    display: flex;
    text-decoration: none;
    color: rgb(153, 130, 93);
    list-style: none;
    


}