#footer{
    background-color: #544349;
    text-align: center; 
    margin: 0;
margin-top: 50px;
    
}


.afoot{
    color: rgb(153, 130, 93);    
   list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;;
    gap: 20px;
    padding: 30px;
    margin: 0;
}



li{
    
    font-size: 20px;
    font-weight: bold;
}

a{
    color: rgb(153, 130, 93);
    text-decoration: none;
}