#footer{
    background-color: #F3E7D9;
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    

}

#foot{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.afoot{
    text-decoration: none;
    color: black;


}