#nav{
 background-color: #544349;
display: flex;
height: 120px;
flex-wrap: wrap;

}

#ul-nav{
    display: flex;
    position: static;
    gap: 50px;
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.nav-link:hover{
    color: rgb(153, 130, 93);
}

@media screen and (max-width: 600px) {

    #nav{
        height: 100%;
    }

    .nav-link{
        font-size: 30px;
    }
    
}





@media screen and (max-width: 900px) {

    #nav{
        height: 80px;
    }

    .nav-link{
        font-size: 30px;
    }
    
}


@media screen and (max-width: 1024px) {

    #nav{
        height: 80px;
    }

    .nav-link{
        font-size: 30px;
    }
    
}





