#nav{
 background-color: #544349;
display: flex;
height: 120px;

}

#ul-nav{
    display: flex;
    gap: 50px;
    list-style: none;
    margin: auto;
    
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    
}

.nav-link:hover{
    color: #F3E7D9;
}













