#nav{
 background-color: #544349;
display: flex;
height: 120px;

}

#ul-nav{
    display: flex;
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    list-style: none;
    gap: 20px;
}


    



