
body {
 background-color: antiquewhite;
}


#page1{

background-color: antiquewhite;
    
}



#button1:hover{
    box-shadow: -5px -5px 23px #02a592,
    5px 5px 23px #6aab49;

}




#button1{
    background-color: #000000;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(237, 22, 22);
  transition: box-shadow 0.3s ease-in-out;
  width:100px;
  height: 40px;
}