body {
  background-color: #f3e7d9;
}

.num1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: space-between;
  gap: 20px;
}

.img {
  width: 20em;
  height: 20em;
}

#page1 {
  background-color: antiquewhite;
}

#button1:hover {
  box-shadow:
    -5px -5px 23px #544349,
    5px 5px 23px #544349;
}

#button1 {
  background-color: #6f5a4b;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #e9e9ea;
  transition: box-shadow 0.3s ease-in-out;
  width: 200px;
  height: 50px;
  margin: 20px;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-left: 0px;
}

}




@media screen and (max-width: 900px) {
  
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-left: 0px;
}

}


@media screen and (max-width: 1024px) {
  
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-left: 0px;
}

}

