#page2{

    
  gap: 200px;
}



/* 
.card1{
   
} */




@media screen and (max-width: 600px) {

    .div1{
        display: flex;
        
        
        margin-top: 50px;
        margin-left: 100px;
    }


    .div2{
        display: flex;
        flex-direction: column;
        
        margin-top: 50px;
        margin-left: 100px;
       
    }


    


}

  





@media screen and (max-width: 900px) {

    .div1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 30px;
       
    }


}

  

@media screen and (max-width: 1024px) {

    

    .div1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 300px;
    }


    .div2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 300px;
    }
  



}








.card2{
    margin-top: 100px;
    margin-left: 100px;
   
}


.div1{
    display: flex;
    gap: 200px;
    margin-left: 400px;
     margin-top: 100px;
    
    
}


.div2{
    display: flex;
    gap: 200px;
    margin-left: 400px;
     margin-top: 100px;
    
    
}