
body {
 background-color: #faebd7;
}


.num1{
    
display: flex;
flex-direction: row;
gap: 200px;
margin-top: 100px;
margin-left: 50px;


}

.img{
    width: 400px;
    height: 300px;
    
}


#page1{

background-color: antiquewhite;
    
}



#button1:hover{
    box-shadow: -5px -5px 23px #544349,
    5px 5px 23px #544349;

}




#button1{
    background-color:#6f5a4b ;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    color:#e9e9ea;
  transition: box-shadow 0.3s ease-in-out;
  width:200px;
  height: 50px;
  margin: 20px;
 
}

.link{
   list-style: none;
}



@media screen and (max-width: 600px) {

    .num1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 100px;
    }


}

  





@media screen and (max-width: 900px) {

    .num1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 250px;
    }


}

  

@media screen and (max-width: 1024px) {

    .num1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 300px;
    }


}


