

.div1{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        margin-left: 650px;
    }







  



  

@media screen and (max-width: 1024px) {

    

    .div1{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        margin-left: 350px;
    }


  



} 




@media screen and (max-width: 900px) {

    .div1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 300px;
       
    }


}




@media screen and (max-width: 600px) {

    .div1{  
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-left: 150px;
       
    }

}



